@font-face {
    font-family: "Raleway";
    src: url("../myFont/Raleway-Regular.ttf");
}

::selection {
    color:#eee;
    background: #6f6f6f;
}

/* Start Scroll Bar*/

::-webkit-scrollbar {
    width: 7px;
    opacity: 0.9;
    
}


::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(185, 12, 12, 0);
    background-color:rgba(255, 255, 255, 0.77);
   
}

::-webkit-scrollbar-thumb {
    background-color: rgb(31, 31, 31);
    height: 50px;
   
}


/* End Scroll Bar*/


body{
    width: 100%;
    background-color: #f2f2f2;
    font-family: 'Cairo', sans-serif;
    overflow-x: hidden;
}


.navbar-brand{
    margin-top: -25px;
    position: fixed;
    right: 20px;
    width: 200px; height: 100px;
    background-color: rgb(255, 255, 255);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px 0 0 0;
    border: 1px solid #333;
}

.navbar-brand img{
     height: 100%; width: 100%;
     border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px
}


.navbar{
    margin-bottom: 0;
    border-radius: 0;
    position: fixed;
    width: 100%;
    border: 0;
    padding: 5px 30px;
    z-index: 9999;
    font-size: 15px;
    background-color: #333;
    height: 58px;
    
}

.navbar .container-fluid{
    padding-right: 0;
    
}
.navbar a{ 
    font-weight: 600;
    color: #fff
}
.navInverse a{
    color: #fff;

}



.navInverse .hvr-underline-from-left:before {
    background: #fff;
}

.navbar-toggle{
    border-color: #eee;
    border-radius: 0;
    margin-right: 0; 
    float: left;
}

.navbar-toggle:hover{
    background-color: #100a0a
}

.navbar-toggle span{
   background-color: #fff;
    
}


.navInverse .navbar-toggle{
    border-color: #fff;
    border-width: 2px;
    
}


ul.navbar-left{
    padding-right: 0;
}

.nav>li>a{ 
   margin-right: 20px; 
}

.nav>li>a:focus, .nav>li>a:hover{
    background-color: transparent;
    margin-bottom: 5px;
}

.nav>li.bookbtn>a{
    color: #fff;
    padding: 0;
    font-weight: 900;
    font-size: 1.2em;
    height: 2.5em;
    line-height: 2.5em;
    background-color: #fff;
    width: 130px;
    margin-right: 0;
    -webkit-box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.75);
    margin-right: 25px;
    transition: .5s;
}


.in li.bookbtn>a{
    
    width: 50%;
    margin-top: 10px;
    margin-right: 50%;
    
}

.nav>li.bookbtn>a:hover{
    margin-top: 5px;
}

.navInverse li.bookbtn>a{
    background-color: #fff;
    color: #333;
    
}

.nav>li{
    text-align: center;
    float: right;
}

.in{
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    margin-top: 20px;
    
}

.in a{
    margin-bottom: 5px;
    color: #333;
}

.in li{
    float: none;
}

.in li.bookbtn a{
    left: 48%;
    transform: translate(-50%);
    background-color: #333;
    color: #fff;
    border: 1px solid #333;
    
    margin-bottom: 15px;
}
.in li.bookbtn a:hover{
    background-color: #fff;
    color: #333;
    
}

.in a.hvr-underline-from-left:before{
    display: none;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{
    margin-right: 0;
}

li.active a.hvr-underline-from-left:before{
    right: 0;
}

/* Underline From Left */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0%;
  right: 100%;
  bottom: 0;
  background: #fff;
    border-radius: 10px;
  height: 3px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}

.in .hvr-underline-from-left{
    transition: .8s;
}

.in .hvr-underline-from-left:hover{
    background-color: #333;
    color: #fff;
    margin-left: 30%;
}

.lang{
    display: block;
    position: fixed;
    top: 20%;left: -40px;
    width: 80px; height: 50px;
    z-index: 9999;
    
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: .5s;
}

.lang img{
    width: 80px; height: 100%;
    display: block;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
   
    
}

.lang:hover{
    left: 0;
}

section{
    box-shadow: 0px 0px 1px 1px rgba(149, 146, 146, 0.15);
}

h1{
    display: block;
    width: 100%;
    margin-top: 10px 0;
    color: #333;
    text-align: center;
}




.About{
    text-align: center;
    padding: 10px 50px 20px 50px;
    background-color: #fff;
    margin-top: 85px;
    margin-bottom: 20px;
}
.About p{
    text-align: center;
    line-height: 2;
    font-size: 19px;
    
}
.text2{
     padding: 10px 50px 20px 50px;
    background-color: #fff;
    text-align: center;
    margin-bottom: 20px;
}
.text2 p{
    font-size: 19px;
    line-height: 2;
}

.instructors{
    width: 100%;
    padding-left: 10px;
    background-color: #fff;
    z-index: -1;
    color: #fff;
    margin-bottom: 20px;
}

.instructors h1{
    color: #333;
    padding: 20px 30px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
}

.responsive{
    width: 100%;
    padding-left: 5px;
    padding-bottom: 15px;
}

.responsive .item{
    min-height: 750px;
    background-color: #f4f4f4;
    margin-right: 20px;
    cursor: pointer;
    color: #333;
    z-index: 1;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 5px;
}

.item img{
    width: 100%;
    height: 340px;
    display: block;
}

.item h3{
    color: #333;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    padding: 5px;
    font-size: 20px;
    font-weight: 900;
}

.item p{
    font-size: 15.3px;
    font-weight: 600;
    margin-top: 0;
    padding: 0 20px 0 20px;
    
}
.slick-dots{   
    overflow: hidden;
    position: relative;
    color: #bfbfbf;
    width: 220px;
    left: 50%;
    transform: translate(-50%);
    font-size: 35px;
    margin-bottom: 0;
    margin-top: 10px;
}

.slick-dots li{
    float: left;
    margin-right: 30px;
    cursor: pointer;
}

.slick-dots li.slick-active{
    color: #333;
    
}

.slick-dots li button{
    display: none;
}




footer{
    bottom:0;
    left: 0;
    width: 100%;
    color: #283B47;
}

.footer{ 
    padding: 30px ;
    padding-top: 0px;
    padding-bottom: 20px;
    color: #fff;
    background-color: #333;
    width: 100%;
}
.footer .container{
    background-color: #333;
    padding: 0;
}
.social{
    
    text-align: center;
}

.social a{
    color: #fff;
    font-size: 30px;
    padding: 5px 10px;
    transition: .5s;
    margin-top: 40px;
}

.social a:hover{
    color: #f2f2f2;
    transform: scale(1.3);
    
}

@media only screen and (max-width : 991px) {
    
  
    
    .navbar-brand{
        margin-top: -10px;
        width: 140px; height: 70px;
    }

}

@media only screen and (max-width:767px){
    
    .navbar-brand{
        margin-top: -5px;
        width: 100px; height: 58px;
    }
    
    .navbar-brand img{
        margin-top: -6px
    }